
.settings {
    width: 100%;
    max-width: 720px;
}

.settings * {
    box-sizing: border-box;
}

.wrap h1 {
    font-size: 1.85rem;
}

.settings h2 {
    font-size: 1.45rem;
}

.settings h3 {
    font-size: 1.2rem;
}

.settings button {
    margin-left: 0.5rem;
}


.settings .formline {
    margin: 1.25rem auto;
}
.settings .formline:last-child {
    margin-bottom: 0;
}
.settings .formline label[for] {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 600;
}
.settings .formline label.inline {
    display: inline-block;
    margin-right: 0.75rem;
}

.formline input[type="text"],
.formline input[type="email"],
.formline input[type="url"],
.formline input[type="password"],
.formline input[type="tel"],
.formline input[type="number"],
.formline input[type="search"],
.formline select,
.formline textarea,
.formline .input {
    width: 100%;
    max-width: 500px;
    padding: 0 0.5rem;
    font-size: 14px;
    vertical-align: middle;
}

.formline .info {
    font-style: italic;
    color: #666;
}
.formline .input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0;
}
.formline .input input,
.formline .input select,
.formline .input textarea {
    max-width: 100%;
    flex-grow: 4;
    flex-shrink: 4;
}
.formline .input button,
.formline input[type="button"],
.formline input[type="submit"] {
    flex-grow: 0;
    flex-shrink: 0;
}


.formline .switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0.25rem;
}
.formline .switch input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.formline .switch:before {
    content: '';
    width: 34px;
    height: 8px;
    border-radius: 4px;
    background-color: #ccc;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}
.formline .switch .slider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd;
    transition: left 200ms ease-in-out 0s, background-color 200ms ease-in-out 0s;
}
.formline .switch input:checked + .slider {
    left: 24px;
    background-color: #3582c4;
}


/********** Range Input Styles **********/
/*Range Reset*/
.formline input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    max-width: 15rem;
    margin: 0.5rem auto;
    vertical-align: middle;
}

.formline input[type="range"] + .display {
    font-size: 16px;
    font-weight: bold;
    margin-left: 0.5rem;
    vertical-align: middle;
}

/* Removes default focus */
.formline input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.formline input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ccc;
    border-radius: 0.5rem;
    height: 0.5rem;  
}

/* slider thumb */
.formline input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: #3582c4;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}

.formline input[type="range"]:focus::-webkit-slider-thumb {   
    /* border: 1px solid #053a5f; */
    outline: 1px solid #3582c4;
    outline-offset: 0.1rem; 
}

/******** Firefox styles ********/
/* slider track */
.formline input[type="range"]::-moz-range-track {
    background-color: #ccc;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
.formline input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: #3582c4;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}

.formline input[type="range"]:focus::-moz-range-thumb {
    outline: 1px solid #3582c4;
    outline-offset: 0.1rem; 
}


/* post picker */
.post-picker-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    gap: 0.25rem;
    align-items: flex-start;
}
.post-picker-input h3 {
    margin: 0;
}
.picker-field {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: #fff;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    min-height: 1.86rem;
    flex-grow: 5;
    flex-shrink: 5;
}
.picker-button {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.86rem;
}
.close-picker {
    float: right;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #666;
}
.post-picker {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 560px;
    background-color: #fefefe;
    transition: opacity 250ms ease-in-out 0s;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.post-picker-input.open .post-picker {
    opacity: 1;
    pointer-events: all;
}
.post-picker header {
    padding: 1rem;
}
.post-picker .search {
    background-color: #efefef;
    padding: 1rem 1rem 0.5rem;
}
.post-picker #search-field {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
}
.post-picker .stage {
    padding: 0 1rem 0.5rem 1rem;
    max-height: 15rem;
    overflow: auto;
    background-color: #efefef;                
}
.post-picker footer {
    padding: 1rem;
    text-align: right;
}
  


/* tabs */

.settings .tabs {
    margin: 1rem auto 0.25rem;
}
.settings .tabs .tab-links {
    border-bottom: 1px solid #ccc;
}
.settings .tab-links a.tab {
    color: #333;
    background-color: #bfbfbf;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    font-size: 16px;
    margin-right: 0.25rem;
    border: 1px solid #ccc;
    transform: translateY(1px);
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.settings .tabs .tab-stage {
    padding: 0.5rem 0;
}
.settings .tabs .tab-content {
    display: none;
}